.login-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    font-size: 22px;
    margin-right: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    gap: 15px;
    flex-basis: 40%;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.login-greating {
    color: var(--sec-color);
    font-weight: bold;
}

.submitButton {
    padding: 20px;
}

.infoContainer {
    background-color: #1f1f1f;
    height: 100%;
    flex-basis: 60%;
    color: var(--rev-color);
}

.infoSentences {
    font-size: 42px;
    font-weight: bold;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: 100%;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.infoSentences div {
    border-bottom: 5px solid var(--main-color);
    width: fit-content;
    z-index: 1;
}

.iconBackground {
    position: absolute;
    height: 100%;
    width: 50%;
    fill: var(--body-color);
    margin-left: 5%;
}

@media only screen and (max-width: 1024px) {
    .login-container {
        flex-direction: column;
    }

    .login-form {
        display: flex;
        flex-direction: column;
    }
}
