.login-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    font-size: 22px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    gap: 15px;
    flex-basis: 40%;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.login-greating {
    color: var(--sec-color);
    font-weight: bold;
}

.loginInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.loginInput input {
    margin-left: 30px;
}

.loginInputWarning {
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    fill: var(--warning-color)
}

.show {
    opacity: 1;
}

.submitButton {
    padding: 20px;
}

.infoContainer {
    background-color: #1f1f1f;
    height: 100%;
    flex-basis: 60%;
    color: var(--rev-color);
}

.infoSentences {
    font-size: 42px;
    font-weight: bold;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: 100%;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* min-width: fit-content; */
    width: 70%;
}

.infoDesc {
    font-size: 22px;
}

.infoHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconHeader {
    height: 90px!important;
    width: 90px!important;
    fill: var(--main-color);
    margin-left: 5%;
    margin-right: 15px;
}

@media only screen and (max-width: 1024px) {
    .login-container {
        flex-direction: column;
    }

    .login-form {
        display: flex;
        flex-direction: column;
    }
}
